/* -------------------------

CSS for whole website
--------------------------*/

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #202838;
}

.sidebar {
    position: fixed;
    width: 7vw;
    height: 100vh;
    overflow-x: hidden;

    margin: 1%;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #1c242c;
    color: white;
    transition: width 0.3s;
    text-align: center;
    border: #000 thin solid
}


.sidebar_child_logo{
    border: #fff thin solid;
}
.logo{
    background: #1c242c;
    width: 100%;
}

.sidebar_child_menu{
    border: #fff thin solid;
    display: flex;
    flex-direction: column; 
    width: 100%;
    text-decoration: none;
    color: white;
}
.menu, .menu_text{
    list-style-type: none;
    width: 100%;  /* Ensures the ul takes full width of its parent */
    padding: 0;
}
.menu_text{
    display: none;
}
.menu a{
    list-style-type: none;
    text-decoration: none;
    color: white;
}
.menu_text a{
    list-style-type: none;
    color: white;
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
    text-decoration: none;
    color: white;
    width: 100%;
    text:}

.menu_text a img {
        margin-right: 1vw;
        margin-left: .5vw;
}
.menu_text a:hover {
    text-decoration: none; 
    color: #ccc; 
}





.menu a:hover, .menu_text a:hover {
    text-decoration: none; 
}

.menu li, .menu_text li{
    padding: 15% 0;
}


.sidebar_child_button{
    border: #fff thin solid;
    margin-bottom: 40%;
    margin-top: auto;
    display: flex;
    justify-content: center;
}
.toggle-btn-open {
    display: none;
}


#open_menu.collapsed {
    display: block;
}
#close_menu.collapsed {
    display: none;
}
.toggle-btn-close.collapsed{
    display: none;
}
.toggle-btn-open.collapsed{
    display: block;
    text-align: center;
}
.sidebar.expanded {
    width: 20vw; /* Wider sidebar to fit the text */
    transition: width 0.3s ease; /* Smooth transition when expanding */
}