{% extends "base/base.html" %}
{% load static %}

{% block extra_css %}
    <!-- Additional stylesheet specific to this page -->
   <link rel="stylesheet" href="{% static 'css/finance_dashboard.css' %}">
{% endblock %}

{% block template %}


<body>
    <div class="header"  style="padding-top:1%">
        <div class="title"><b></b>Dashboard<b></b></div>
        <div class="filtered">
            <div class="category">{{ selected_category }}</div>
            <div class="dates">
                <p><i>{{ selected_start_date }}<i></p>
                <p><i>{{ selected_end_date }}<i></p>
            </div>
        </div>
        <div class="filter_menu">
            <div class="toggle-container">
                <!-- SVG button to toggle the filter menu -->
                <button id="toggle-button" class="toggle-button">
                <!-- Replace this with your own SVG -->
                <img src="{% static 'Assets/SVG/filterv2.svg' %}" alt="Filter">
                </button>

                <!-- The form to be toggled -->
                <div id="form-container" class="form-container hidden">
                <form id="filter-form" method="GET">
                    <label for="category-name">Category Name:</label>
                    <select id="category-name" name="Category_name" value="All Categories">
                        <option value="">All Categories</option>
                        {% for category in category_names %}
                        <option value="{{ category }}" {% if category == selected_category %}selected{% endif %}>{{ category }}</option>
                        {% endfor %}
                    </select>

                    <label for="start-date">From:</label>
                    <input type="date" id="start-date" name="start_date" value="{{ selected_start_date }}">>

                    <label for="end-date">Until:</label>
                    <input type="date" id="end-date" name="end_date" value="{{ selected_end_date }}">

                    <label for="exlude_nocount">"Do Not Count"</label>
                    <input type="checkbox" id="exlude-nocount" name="exlude_nocount" {{ exlude_nocount }}>

                    <button type="submit">Filter</button>
                </form>
                </div>
            </div>
        </div>
    </div>
    <div class="Grid_toprow">
        <div id="TopRowChild" class="totalspentmade">
            <h4 style="margin: 2%;">Current Period Spending</h4>
            <p>{{worked}}</p>
            <p>Amount Made ${{ Amount_Made }}</p>
            <p>Amount Spent ${{ Amount_Spent}}</p>
        </div>
        <div id="TopRowChild" class="thisweeklastweek">
            <h4 style="margin: 2%;">Weekly Spending Comparison</h4>
            <p>Amount Spent This Week ${{ Amount_Spent_week1 }}</p>
            <p>Amount Spend Last Weel ${{ Amount_Spent_week0 }}</p>
            <p style="font-size:x-small">{{ Spending_change }}% {{Spending_direction}} in Spending</p>
        </div>
        <div id="TopRowChild" class="monthlydue">
            <h4 style="margin: 2%;">Next 5 Recurring Payments</h4>
            <div class="dueexp">
                <p>$xxx Due (dte) for xxx</p>
                <p>$xxx Due (dte) for xxx</p>
                <p>$xxx Due (dte) for xxx</p>
                <p>$xxx Due (dte) for xxx</p>
                <p>$xxx Due (dte) for xxx</p>
            </div>
        </div>
    </div>
    <div class="Grid_charts">
        <div class="TopExpenses">
        <h4 class="ExpBrkdown" style="color:white"> Current Period Expense Breakdown <h4>
        <div id="TopExpenses">
            {% for category in categories_amount %}
                <p class="ExpText">{{ category.category_name }} {{ category.total }}</p>
            {% endfor %}
        </div>
        </div>
        <div class="chart-container" >
            <form id="Chart_type_form" method="GET">
                <div class="chart-container">
                    <select id="Expense_Chart_Filter" name="chart_type" onchange="this.form.submit()">
                        <option value="Daily">Daily</option>
                        <option value="Weekly" selected>Weekly</option>
                        <option value="Monthly">Monthly</option>
                    </select>
                </div>
            </form>
            <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
            <canvas id="spendingChart" width="400" height="200"></canvas>
        </div>
    </div>

<script>
    // const labels = {{ chart_data.labels|safe }};
    // const totals = {{ chart_data.totals|safe }};

    //new Chart("spendingChart", {
    //    type: "line",
    //    data: {
    //        labels: Labels,
    //        datasets: [{
    //        backgroundColor:"rgba(0,0,255,1.0)",
    //        borderColor: "rgba(0,0,255,0.1)",
    //        data: totals
    //        }]
    //    },
    //  });
    const xValues = [50,60,70,80,90,100,110,120,130,140,150];
    const yValues = [7,8,8,9,9,9,10,11,14,14,15];

    new Chart("myChart", {
    type: "line",
    data: {
        labels: xValues,
        datasets: [{
        backgroundColor:"rgba(0,0,255,1.0)",
        borderColor: "rgba(0,0,255,0.1)",
        data: yValues
        }]
    }
    });

</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<script src="{% static 'js/test.js' %}"></script>





</body>


{% endblock %}
