
.form-container {
    display: none; /* Start hidden and toggle visibility */
    position: absolute;
    right: 0; /* Align the form to the right edge of the toggle-container */
    padding: 20px;
    border-radius: 10px;
    width: 250px; /* Fixed width */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: adds shadow for better visibility */
}

.form-container.active {
    background-color: #c0c1c4;
    display: block; /* Show when active */
}

label {
    font-weight: bold;
}

input[type="date"], select {
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 15px;
    width: 95%; /* Ensures inputs take full width of the form */
}

.toggle-button{
    border: none;
    background-color: #a78f21;
    border-radius: 15%;
    margin: 0%;
    padding: 0%;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    font-size: 20px;
    width: 100%; /* Full width button */
    border: none;
    border-radius: 10px;
    padding: 10px /* Padding for better touch */
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1%;
    background-color: #1c242c;
    border-radius: 20px;
    color: white;
    align-items: flex-end;
    padding: 0% 2% 1% 2%;
}


.title{
    font-size: x-large;}
.filtered{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;}
.category{
    font-size: large;
}
.dates{
    display: flex;
    flex-direction: row;
    column-gap: 1vw;
    }
.dates p{
    margin: 0;
}


/*
Body Information
---------------------------------------
*/

.Grid_toprow{
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    justify-content: space-around;
    gap: 1%;
    padding: 0% 1% 0% 1%;
}

#TopRowChild{
    color: white;
    background-color: #1c242c;
    padding: 1%;
    flex: 1;
    border-radius: 25px;
}

#TopRowChild p{
    margin: 0;
    padding-left: 10%;
}

.dueexp {
    font-size: small;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Creates as many columns as can fit */
    gap: 1%; /* Space between grid items */
}

.dueexp p {
    text-align: center;
    box-sizing: border-box; /* Ensures padding is included in the width calculation */
}


/*
Chart Information
---------------------------------------
*/

.Grid_charts {
    gap: 1%;
    padding: 1% 1% 0% 1%;
    display: grid;
    grid-template-columns: 1fr 2fr; /* This creates two columns */
}

.TopExpenses {
    width: auto;
    background-color: #1c242c;
    padding: 0% 2% 0% 2%;
    border-radius: 25px;
}

.TopExpenses h2 {
    padding: 0%;
    color: white;
}

#TopExpenses p {
    font-family: 'Lucida Console', Courier, monospace;
    color: white;
    padding: 0.6%;
    margin: 0;
}
