{% extends "base/base.html" %}
{% load static %}

{% block extra_css %}
    <!-- Additional stylesheet specific to this page -->
    <link rel="stylesheet" href="{% static 'css/categorize.css' %}">
{% endblock %}

{% block template %}


<body>
    <div class="header"  style="padding-top:1%">
        <div class="title"><b></b>Kanban Board<b></b></div>
    </div>

    <section>
        <div class="kanban-board">
            {% for level in progress_levels %}
            <div class="kanban-column">
                <h2>{{ level.level }}</h2>
                {% for task in level.tasks.all %}
                <div class="kanban-task">
                    <strong>{{ task.project }}</strong>
                    <p>{{ task.description }}</p>
                    <a href="{% url 'task_notes' task.id %}">View Notes</a>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </section>

    <style>
        .kanban-board {
            display: flex;
            gap: 20px;
        }
        .kanban-column {
            flex: 1;
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 5px;
            min-width: 50px;
        }
        .kanban-task {
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
        }
    </style>
    <script src="{% static 'js/test.js' %}"></script>

</body>


{% endblock %}
