{% extends "base/base.html" %}
{% load static %}


{% block template %}
<!--
Layout
>> Div Fastfacts
No ToDos Completed | Net Worth | $ Spent this week | Net Calories Today
>> Div Add_Food
Add Food Eaten | Add Ingredient | Add Workout
>> Div Calender
Calender 
-->

<div class="facts" id="fastfacts">
    <div class="fact"></div>
    <div class="fact"></div>
    <div class="fact"></div>
    <div class="fact"></div>
</div>

<div class="addfoods" id="foodforms">
    <div class="foodform"></div>
    <div class="foodform"></div>
    <div class="foodform"></div>
</div>

<div class="calen" id="calender">

</div>





{% endblock %}